@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.cst-header {
  text-align: center;
  margin: 20px 0;
}

.cst-container-height {
  margin-top: 100%;
}

.cst-icon {
  cursor: pointer;
}

.cst-list {
  height: calc(100% - 80px);
  width: calc(100% - 30px);
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 15px;
  overflow-y: auto;
}

.cst-input {
  padding: 1.5rem 1.25rem;
}

.cst-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cst-modal {
  padding: 20px;
  button{
    float: right;
  }
}
