<template>
    <div>
        <input class="form-control cst-input" placeholder="Добавить точку" name="search"
               v-on:keyup.enter="addMarkerViaList" v-model="marker">
        <draggable :list="markerState.markers" class="list-group cst-list" @change="renderPolyline">
            <div class="list-group-item d-flex justify-content-between align-items-center"
                 v-for="(marker, index) in markerState.markers" :key="`marker-${index}`">
                {{ marker.name }}
                <span class="cst-icon" v-on:click="removeMarker(index)">X</span>
            </div>
        </draggable>

        <modal-map @getCoords="addMarkerModelMap($event)"></modal-map>
    </div>
</template>
<script lang="ts">

    import {Component, Vue, Provide} from 'vue-property-decorator';
    import draggable from 'vuedraggable';
    import {Action, State} from 'vuex-class';
    import MarkerState from "@/store/modules/marker/types";
    import ModalMap from '@/components/common/ModalMap.vue';
    import {mapGetters} from "vuex";
    import Marker from "@/domain/entities/Marker";

    @Component({
        components: {draggable, ModalMap},
        computed: mapGetters(['getLines']),
    })
    export default class Main extends Vue {

        @Provide()
        public marker: string = "";

        @State('marker') public markerState!: MarkerState;

        @Action public destroyMarker: any;
        @Action public saveMarker: any;

        public addMarkerViaList() {
            this.$modal.show('model-map');
        }

        public renderPolyline() {
            this.$store.getters.getLines;
        }

        public removeMarker(index: number) {
            this.destroyMarker(index);
        }

        public addMarkerModelMap() {
            this.markerState.marker = new Marker(this.marker, this.markerState.marker.coords);
            this.saveMarker();
            this.marker = '';
            this.$modal.hide('model-map');
        }

    }
</script>
