<template>
    <div>
        <div class="cst-container-height"></div>
        <yandex-map
                class="cst-map"
                :coords="coords"
                :zoom="zoom"
                @map-was-initialized="initMap"
                @click="addMarkerViaMap">

            <ymap-marker v-for="(marker, index) in markerState.markers" :key="`placemark-${index}`"
                         marker-type="placemark"
                         :marker-id="index"
                         :clusterName="marker.name"
                         :coords="marker.coords"
                         :callbacks="{ dragend: (e) => dragMarker(e, index) }"
                         :options="{draggable: true}"
                         :properties="{balloonContent: marker.name}">
            </ymap-marker>

            <ymap-marker v-for="(line, index) in lines" :key="`polyline-${index}`"
                         marker-id="1"
                         marker-type="polyline"
                         :coords="line.coords">
            </ymap-marker>

        </yandex-map>

        <modal-text @click="addMarkerModelText"></modal-text>
    </div>
</template>
<script lang="ts">

    import {Component, Vue, Provide} from 'vue-property-decorator';
    import draggable from 'vuedraggable';
    import Marker from "@/domain/entities/Marker";
    import {Action, State} from 'vuex-class';
    import MarkerState from "@/store/modules/marker/types"
    import {mapGetters} from "vuex";
    import ModalText from '@/components/common/ModalText.vue';
    import ListMarker from '@/views/marker/List.vue';
    import {ZOOM, COORDS} from '@/constant';

    @Component({
        components: {draggable, ModalText, ListMarker},
        computed: mapGetters(['getLines']),
    })
    export default class Map extends Vue {

        @Provide()
        public zoom: string = ZOOM;

        @Provide()
        public coords: number[] = COORDS;

        @State('marker') public markerState!: MarkerState;

        get lines() {
            return this.$store.getters.getLines;
        }

        @Action public allMarkers: any;
        @Action public updateMarker: any;
        @Action public saveMarker: any;

        @Provide()
        public coordsMarker: [number, number] = [-1, -1];

        public addMarkerViaMap(e: any) {
            this.markerState.marker.name = "";
            this.$modal.show('model-text');
            this.coordsMarker = e.get('coords');
        }

        public dragMarker(e: any, index: number) {
            this.updateMarker({index: index, coords: e.get('target').geometry.getCoordinates()});
        }

        public addMarkerModelText() {
            this.$modal.hide('model-text');
            if (this.markerState.marker.name === "") {
                return;
            }
            this.markerState.marker = new Marker(this.markerState.marker.name, this.coordsMarker);
            this.saveMarker();
        }

        public initMap() {
            this.allMarkers();
        }

    }

</script>
