<template>
    <div>
        <h1 class="cst-header">Мои места</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <list-marker></list-marker>
                </div>
                <div class="col-md-8">
                    <map-marker></map-marker>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="ts">

    import {Component, Vue} from 'vue-property-decorator';
    import ListMarker from '@/views/marker/List.vue';
    import MapMarker from '@/views/marker/Map.vue';

    @Component({
        components: {ListMarker, MapMarker},
    })
    export default class Main extends Vue {

    }

</script>

