<template>
    <modal name="model-text" :width="400" :height="135">
        <div class="cst-modal">
            <input class="form-control" placeholder="Введите название маркера" v-model="markerState.marker.name">
            <br>
            <button type="submit" class="btn btn-primary" v-on="$listeners">Создать</button>
        </div>
    </modal>
</template>
<script lang="ts">

    import {Component, Vue, Provide, Prop} from 'vue-property-decorator';
    import {State} from "vuex-class";
    import MarkerState from "@/store/modules/marker/types";

    @Component
    export default class ModalText extends Vue {

        @State('marker') public markerState!: MarkerState;

    }

</script>
