<template>
    <modal name="model-map" :width="'70%'" :height="'70%'">
        <yandex-map
                class="cst-map"
                :coords="coords"
                :zoom="zoom"
                @click="getCoords">
        </yandex-map>
    </modal>
</template>
<script lang="ts">

    import {Component, Vue, Provide, Prop, Emit} from 'vue-property-decorator';
    import {State} from "vuex-class";
    import MarkerState from "@/store/modules/marker/types";
    import {ZOOM, COORDS} from '@/constant';

    @Component
    export default class ModalMap extends Vue {

        @Provide()
        public zoom: string = ZOOM;

        @Provide()
        public coords: number[] = COORDS;

        @State('marker') public markerState!: MarkerState;

        @Emit('getCoords')
        public getCoords(e: any) {
            this.markerState.marker.coords = e.get('coords');
        }

    }

</script>
